{
    "parser": "@babel/eslint-parser",
    "rules":{
     "no-unused-vars": "warn" ,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended","prettier"],
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": 8
    },
    "plugins": ["prettier"]

}