.full-weather-container {
  width: 100%;
  .header-container {
    border-bottom: 1px solid rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: invert(1);
    padding: 20px;
    .header-info {
      .town-name {
        font-size: 30px;
        text-align: center;
      }
      .condition {
        font-size: 16px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
      }
      .current-temp {
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
      }
      .feels-temp {
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .content-container {
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    .hour-forecast {
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      justify-content: center;
      .hour {
        width: 90%;
        padding-bottom: 15px;
      }
    }
    .daily-forecast {
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .day {
        width: 90%;
      }
    }
  }
  @media (min-width: 1920px) {
    .header-container {
      .back-button {
        img {
          width: 100px;
        }
      }
      .like-button {
        img {
          width: 100px;
        }
      }
      .header-info {
        .town-name {
          font-size: 65px;
        }
        .condition {
          font-size: 45px;
        }
        .current-temp {
          font-size: 55px;
        }
        .feels-temp {
          font-size: 50px;
        }
      }
    }
    .content-container {
      .hour-forecast {
        .hour {
          .hour-items {
            .hour-item {
              span {
                font-size: 65px;
              }
              img {
                width: 80px;
              }
            }
          }
        }
      }
      .daily-forecast {
        margin-top: 100px;
        .day {
          .day-items {
            .day-item {
              display: flex;
              align-items: center;
              margin: 50px;

              span {
                font-size: 65px;
              }
              img {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1680px) and (min-width: 1300px) {
    .header-container {
      .back-button {
        img {
          width: 70px;
        }
      }
      .like-button {
        img {
          width: 70px;
        }
      }
      .header-info {
        .town-name {
          font-size: 45px;
        }
        .condition {
          font-size: 35px;
        }
        .current-temp {
          font-size: 35px;
        }
        .feels-temp {
          font-size: 30px;
        }
      }
    }
    .content-container {
      .hour-forecast {
        .hour {
          .hour-items {
            .hour-item {
              span {
                font-size: 25px;
              }
              img {
                width: 50px;
              }
            }
          }
        }
      }
      .daily-forecast {
        .day {
          .day-items {
            .day-item {
              display: flex;
              align-items: center;

              span {
                font-size: 25px;
              }
              img {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}
