body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-140deg, #1b181f, #9198e5);
}
::placeholder {
  color: white;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;

  .search {
    width: 75vw;
    height: 30px;
    text-align: center;
    background: none;
    border: 1px solid white;
    text-decoration-color: white;
    color: white;
    margin-right: 10px;
  }

  .btn-search {
    width: 30px;
    max-height: 30px;
    display: inherit;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }

  .search-icon {
    filter: invert(100%);
    margin-left: 10px;
    margin-right: 20px;
  }
  @media (min-width: 1920px) {
    .search {
      height: 3vh;
      font-size: 48px;
    }
    .btn-search {
      width: 70px;
      height: 3vh;
    }
    .search-icon {
      height: 3vh;
      margin-bottom: -25px;
    }
    @media (max-width: 324px) {
      .search {
        text-align: center;
        background: none;
        border: 1px solid white;
        text-decoration-color: white;
        color: white;
        margin-right: 5px;
      }
      .btn-search {
        width: 20px;
        height: 3vh;
      }
      .search-icon {
        width: 20px;
      }
    }
  }
}
